html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* font-size: smaller; */

  background-color: #151b24;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
